assets/OceanBG.sesx
assets/*.xmp
assets/Backup
doc/
tools/package_resource_pack.sh
tools/generate_loading_screen_assets.sh
tools/generate_salvage.py
tools/salvage_manifest.py
tools/count_loc
__pycache__/
